.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.paginationButton {
  margin-bottom: 36px;
  color: #fafafa;
  background-color: #180252;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.paginationButton:hover,
.paginationButton:focus {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: #4d0057;
}

.paginationButton:disabled {
  box-shadow: none;
  background-color: #c0c0c0;
  cursor: default;
}
