.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 15px;
  margin: 0 auto 16px;
}
.collectionItem {
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
